<div>
  <mat-toolbar class="toolbar">
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item (click)="onNewFile()">New</button>
      <button mat-menu-item (click)="onOpenFile()">Open</button>
      <button mat-menu-item (click)="onSaveFile()">Save</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">File</button>
    <span class="toolbar-title">{{ filePath || 'New Document*' }}</span>
    <button mat-icon-button (click)="onMinimizeWindow()">
      <mat-icon>remove</mat-icon>
    </button>
    <button mat-icon-button (click)="onMaximizeWindow()">
      <mat-icon>crop_square</mat-icon>
    </button>
    <button mat-icon-button (click)="onCloseWindow()">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <quill-editor [(ngModel)]="fileContent" #editor></quill-editor>
</div>
