// The content below is only a placeholder and can be replaced.

.main {
    background: url("../assets/angular-electron.png") no-repeat center center fixed;
    background-size: cover;
    text-align: center;
    padding-top: 2rem;
    height: 100vh;
    color: #444444;

    ul {
        list-style: none;

        li {
            padding: 0.5rem;
        }
    }
}
